<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Usage statistics</title>
    </head>
    <body>
        <h1>Statistics about daily users: ${start_date} - ${end_date}</h1>
        <hr>
        <ul>
            <li>Average: ${average}</li>
            <li>Min: ${min}</li>
            <li>Max: ${max}</li>
            <li>Biggest increase between two days: ${biggest_increase}</li>
            <li>Biggest decrease between two days: ${biggest_decrease}</li>
            <li>Total change: ${total_change}</li>
        </ul>
    </body>
</html>
